* {
	font-family: 'Montserrat', sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.job {
	text-weight: bold;
}

footer {
	opacity: 0.7;
}

#parallax {
		background-image: url("./images/landing2.jpeg");
		background-repeat: no-repeat;
		min-height: 700px;
		min-width: 200px;
		background-size: cover;
		background-attachment: fixed;
		background-position: center;

}

nav.navbar {
	position: fixed;
	top: 0px;
	width: 100%;
	flex-wrap: nowrap;
}

.img-parallax {
	opacity: 0.5;
	background-repeat: repeat-x;
}

#myTitle {
	opacity: 0.7;
}

#myDescription {
	font-size: 12px;
	justify-content: center;
	text-align: justify;
}


#fname {
	font-style: italic;
}

h1 {
	font-weight: bold !important;
}

.landing_text {
	padding-left: 12rem;
}

.social-icons {
	justify-content: flex-end;
}

.landing-name {
	justify-content: flex-start !important;
}



/*.parallax {
  /* The image used */
  background-image: url("img_parallax.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/

